  <div style="display: flex; flex-direction: column; gap: 5px; text-align: center" *ngIf="information">
    <div>
      <div>Strength</div>
      <div>{{information.strength}}</div>
      <div>{{information.strength_bonus}}</div>
    </div>
    <div>
      <div>Dexterity</div>
      <div>{{information.dexterity}}</div>
      <div>{{information.dexterity_bonus}}</div>
    </div>
    <div>
      <div>Constitution</div>
      <div>{{information.constitution}}</div>
      <div>{{information.constitution_bonus}}</div>
    </div>
    <div>
      <div>Intelligence</div>
      <div>{{information.intelligence}}</div>
      <div>{{information.intelligence_bonus}}</div>
    </div>
    <div>
      <div>Wisdom</div>
      <div>{{information.wisdom}}</div>
      <div>{{information.wisdom_bonus}}</div>
    </div>
    <div>
      <div>Charisma</div>
      <div>{{information.charisma}}</div>
      <div>{{information.charisma_bonus}}</div>
    </div>
  </div>
